/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Font Family - Avenir Next */

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-Bold.eot');
    src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'),
        url('./fonts/avenir-next/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-Bold.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-Bold.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-ThinItalic.eot');
    src: local('Avenir Next Cyr Thin Italic'), local('AvenirNextCyr-ThinItalic'),
        url('./fonts/avenir-next/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-ThinItalic.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-ThinItalic.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-MediumItalic.eot');
    src: local('Avenir Next Cyr Medium Italic'), local('AvenirNextCyr-MediumItalic'),
        url('./fonts/avenir-next/AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-MediumItalic.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('./fonts/avenir-next/AvenirNextCyr-UltraLightIt.eot');
    src: local('Avenir Next Cyr Ultra Light Italic'), local('AvenirNextCyr-UltraLightIt'),
        url('./fonts/avenir-next/AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-UltraLightIt.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-Light.eot');
    src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'),
        url('./fonts/avenir-next/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-Light.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-Light.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-Italic.eot');
    src: local('Avenir Next Cyr Italic'), local('AvenirNextCyr-Italic'),
        url('./fonts/avenir-next/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-Italic.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-Italic.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-BoldItalic.eot');
    src: local('Avenir Next Cyr Bold Italic'), local('AvenirNextCyr-BoldItalic'),
        url('./fonts/avenir-next/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-BoldItalic.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-Heavy.eot');
    src: local('Avenir Next Cyr Heavy'), local('AvenirNextCyr-Heavy'),
        url('./fonts/avenir-next/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-Heavy.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-HeavyItalic.eot');
    src: local('Avenir Next Cyr Heavy Italic'), local('AvenirNextCyr-HeavyItalic'),
        url('./fonts/avenir-next/AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-HeavyItalic.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-Thin.eot');
    src: local('Avenir Next Cyr Thin'), local('AvenirNextCyr-Thin'),
        url('./fonts/avenir-next/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-Thin.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-Thin.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-Medium.eot');
    src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
        url('./fonts/avenir-next/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-Medium.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-Medium.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-DemiItalic.eot');
    src: local('Avenir Next Cyr Demi Italic'), local('AvenirNextCyr-DemiItalic'),
        url('./fonts/avenir-next/AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-DemiItalic.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-DemiItalic.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-DemiItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-Demi.eot');
    src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
        url('./fonts/avenir-next/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-Demi.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-Demi.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-Regular.eot');
    src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
        url('./fonts/avenir-next/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-Regular.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-Regular.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./fonts/avenir-next/AvenirNextCyr-LightItalic.eot');
    src: local('Avenir Next Cyr Light Italic'), local('AvenirNextCyr-LightItalic'),
        url('./fonts/avenir-next/AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-LightItalic.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-LightItalic.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('./fonts/avenir-next/AvenirNextCyr-UltraLight.eot');
    src: local('Avenir Next Cyr Ultra Light'), local('AvenirNextCyr-UltraLight'),
        url('./fonts/avenir-next/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir-next/AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('./fonts/avenir-next/AvenirNextCyr-UltraLight.woff') format('woff'),
        url('./fonts/avenir-next/AvenirNextCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


/* Colours: */

:root {
    --td-red: #DE483A;
    --bg-black: #171717;
    --bg-grey: #1D1D1D;
    --text-grey: #9D9D9D;
    --priority-high: #C42F2D;
    --priority-medium: #E4760C;
    --priority-low: #1D59D9;
}

/* **** My CSS **** */

body {
    font-family: 'Avenir Next Cyr', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main_container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#sidebar_container {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-grey);
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

#logo {
    color: var(--td-red);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1vw;
}

#td-logo {
    height: 3vh;
    width: 3vh;
    margin-right: 0.5vw;
}

h1 {
    font-size: 3vh;
    color: white;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 2vh 2vw;
}

#sidebar div:hover {
    cursor: pointer;

}

#due_today:hover,
#due_this_week:hover,
#overdue_todos:hover,
#high_priority:hover,
#completed_list:hover,
.project_name:hover,
.add_new_project_button:hover {
    color: var(--text-grey)
}

#sidebar div {
    color: white;
}

/* #high_priority {
    position: relative;
}

#high_priority::after {
    content: '';
    position: absolute;
    background-color: var(--bg-black);
    width: 80%;
    height: 2px;
    bottom: -2px;
    left: 10%;
} */

#project_list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: white;
}

.project_holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectItem {
    color: white;
    height: 200px;
}

#project_list .project_holder .project_edit_button {
    color: var(--bg-grey);
}

#project_list .project_holder:hover .project_edit_button {
    transition-delay: 0.5s;
    color: white;
}

#project_list .project_holder .project_edit_button:hover {
    transition-delay: 0s;
    color: var(--text-grey);
}

#completed_list {
    justify-self: flex-end;
}

#completed_list:hover {
    text-decoration: line-through;
}

#content {
    height: 100%;
    width: 100%;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-black);
    color: white;
    padding: 2.5vh 2.5vw;
}

#content h2 {
    margin-bottom: 2vh;
}

.todo_div {
    padding: 1vh 1vw;
    display: flex;
    /* border-bottom: 0.1px solid white; */
    gap: 1vw;
    width: 80%;
    margin-left: 5%;
    /* For the border below: */
    position: relative;
}

.todo_div:hover {
    background-color: var(--bg-grey);
}

.todo_div+.todo_div::before {
    content: '';
    position: absolute;
    background-color: var(--bg-grey);
    width: 96%;
    height: 2px;
    top: 0;
    left: 2%;
}

.todo_grid {
    display: grid;
    grid-template-columns: 3fr 1fr 0.5fr 0.5fr;
    width: 100%;
}

.todo_due_date,
.todo_delete {
    text-align: end;
}

.todo_priority_high,
.todo_priority_medium,
.todo_priority_low {
    display: flex;
    justify-content: end;
}

.todo_priority_high {
    filter: brightness(0) saturate(100%) invert(21%) sepia(89%) saturate(1552%) hue-rotate(337deg) brightness(103%) contrast(99%);
}

.todo_priority_medium {
    filter: brightness(0) saturate(100%) invert(52%) sepia(22%) saturate(6918%) hue-rotate(5deg) brightness(98%) contrast(91%);
}

.todo_priority_low {
    filter: brightness(0) saturate(100%) invert(21%) sepia(99%) saturate(6346%) hue-rotate(223deg) brightness(98%) contrast(77%);
}

.todo_delete {
    color: var(--bg-black);
    font-weight: 700;
}

.todo_grid:hover {
    cursor: pointer;
}

.todo_grid:hover .todo_delete {
    transition-delay: 0.5s;
    color: white;
}

.todo_grid .todo_delete:hover {
    transition-delay: 0s;
    color: var(--td-red);
}

.priority_flag {
    height: 1.5em;
    width: auto;
}

.add_new_todo_button {
    padding: 1vh 1vw;
    display: flex;
    /* border-bottom: 0.1px solid white; */
    gap: 1vw;
    width: 80%;
    margin-left: 5%;
    justify-content: center;
    color: var(--text-grey);
    border-top: 1px var(--bg-grey) solid;
}

.add_new_todo_button:hover {
    color: white;
    border: 1px var(--text-grey) dashed;
    cursor: pointer;
}

.todo_popup_overlay, .project_popup_overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.todo_popup_grid, .project_popup_grid {
    z-index: 2;
    min-width: 50%;
    max-width: 80%;
    position: absolute;
    top: 25%;
    left: 25%;
    display: grid;
    padding: 2%;
    gap: 2%;
    background-color: var(--bg-grey);
    color: white;
    align-items: center;
}

.todo_popup_grid {
    min-height: 50%;
    max-height: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
}

.project_popup_grid {
    min-height: 25%;
    max-height: 80%;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.todo_popup_title,
.todo_notes_input, .project_popup_title {
    grid-column: span 2;
}

.todo_popup_title, .project_popup_title {
    grid-row: 1 / 2;
    text-align: center;
    font-size: 1.5em;
}

.flex {
    display: flex;
}

h4 {
    margin-right: 2%;
    align-content: center;
}

.todo_popup_name, .project_popup_name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.project_popup_name_input {
    width: 100%;
}

.todo_popup_priority {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.todo_popup_duedate {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.todo_popup_completed {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.todo_popup_project {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.todo_notes_label {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-weight: bold;
    align-self: end;
}

.todo_notes_input {
    grid-row: 5 / 6;
    height: 100%;
    text-align: left;
    vertical-align: top;
    overflow-y: auto;
}

.todo_buttons_div, .project_buttons_div {
    grid-column: span 2;
    justify-self: end;
    gap: 5%;
    margin-right: 5%;
}

.todo_buttons_div {
    grid-row: 6 / 7;
}

.project_buttons_div {
    grid-row: 2 / 3;
}

.todo_save_button, .todo_cancel_button, .todo_delete_button, .project_save_button, .project_cancel_button, .project_delete_button {
    padding: 0.25em 0.75em;
    border: 1px solid white;
}

.todo_save_button:hover, .todo_cancel_button:hover, .project_save_button:hover, .project_cancel_button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--bg-black);
    border: var(--td-red) solid 1px;
}

.todo_delete_button:hover, .project_delete_button:hover {
    cursor: pointer;
    background-color: var(--td-red);
    border: white solid 1px;
}